<form [formGroup]="store">
    <p-card header="Ping Form">
        <div class="grid align-items-center">
            <div class="col-2">
                <h5>Store:</h5>
            </div>
            <div class="col-10">
                <input type="text" pInputText formControlName="id">
            </div>
        </div>
        <h5>Devices:</h5>
        <div class="grid align-items-center">
            <div class="field-checkbox pr-6 pl-2">
                <p-checkbox formControlName="gw" name="gw" [binary]="true">
                </p-checkbox>
                <label for="gw" class="text-center">Gateway</label>
            </div>
            <div class="field-checkbox pr-6">
                <p-checkbox formControlName="sc" name="sc" [binary]="true">
                </p-checkbox>
                <label for="sc" class="text-center">SC</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox formControlName="got" name="got" [binary]="true">
                </p-checkbox>
                <label for="sc" class="text-center">GOT Tablet</label>
            </div>
            <div class="col-12 grid">
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="pos">POS</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="pos" name="pos" id="pos">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="ap">AP</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="ap" name="ap" id="ap">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="pda">PDA/EBO</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="pda" name="pda" id="pda">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="pos">Printer</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="printer" name="printer" id="printer">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="printer">CCTV</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <!-- <p-multiSelect [options]="cctvOption" formControlName="cctv" defaultLabel="Select a cctv" selectedItemsLabel="{0} items selected"></p-multiSelect> -->
                    <input type="text" pInputText formControlName="cctv" name="cctv" id="cctv">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="ups">UPS</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="ups" name="ups" id="ups">
                </div>
                <div class="xl:col-1 lg:col-2 align-self-center">
                    <label for="edc">EDC</label>
                </div>
                <div class="xl:col-3 lg:col-4">
                    <input type="text" pInputText formControlName="edc" name="edc" id="edc">
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton type="button" label="Ping" (click)="ping()"></button>
        </ng-template>
    </p-card>
</form>