<p-table [value]="keys" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Device</th>
      <th>Abbreviation</th>
      <th>Show</th>
      <th>Default Value/Number</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-k>
    <tr>
      <td>{{ deviceFullName[k] }}</td>
      <td>{{ deviceAbbr[k] }}</td>
      <td>
        <p-checkbox [binary]="true" [(ngModel)]="setting[k].show"></p-checkbox>
      </td>
      <td [class]="setting[k].show ? '' : 'pointer-events-none opacity-60'">
        <ng-container *ngIf="uniqueDevice.includes(k); else elseTemplate">
          <p-radioButton
            [name]="k"
            [value]="true"
            [inputId]="k + '_true'"
            [(ngModel)]="setting[k].default"
          ></p-radioButton>
          <label class="ml-1 mr-3" [for]="k + '_true'">True</label>
          <p-radioButton
            [name]="k"
            [value]="false"
            [inputId]="k + '_false'"
            [(ngModel)]="setting[k].default"
          ></p-radioButton>
          <label class="ml-1 mr-3" [for]="k + '_false'">False</label>
        </ng-container>
        <ng-template #elseTemplate>
          <h5>{{ setting[k].default }}</h5>
          <p-slider
            [(ngModel)]="setting[k].default"
            [min]="1"
            [max]="limitedNumberDevice[k]"
            [step]="1"
          ></p-slider>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
