<p-table responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Device</th>
      <th>Show</th>
      <th>Default Value/Number</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-m>
    <tr>
      <th>Gateway</th>
      <th><p-checkbox [binary]="true"></p-checkbox></th>
      <th><p-checkbox [binary]="true"></p-checkbox></th>
    </tr>
  </ng-template>

  </p-table>

<!-- <h5>This is what is showed by default in ping form.</h5>
<div class="grid align-items-center">
  <div class="field-checkbox pr-6">
    <label for="gw_show" class="text-center pr-2">Gateway:</label>
    <p-checkbox name="gw_show" id="gw_show" [binary]="true"> </p-checkbox>
    <p-checkbox name="gw_default" id="gw_default" [binary]="true"></p-checkbox>
  </div>
  <div class="field-checkbox pr-6">
    <label for="sc" class="text-center pr-2">SC:</label>
    <p-checkbox name="sc" id="sc" [binary]="true"> </p-checkbox>
  </div>
  <div class="field-checkbox pr-6">
    <label for="got" class="text-center pr-2">GOT Tablet:</label>
    <p-checkbox name="got" id="got" [binary]="true"> </p-checkbox>
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="pos_cb" class="pr-2">POS:</label>
    <p-checkbox name="pos_cb" id="pos_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="pos"
      id="pos"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="pos_cb" class="pr-2">POS:</label>
    <p-checkbox name="pos_cb" id="pos_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="pos"
      id="pos"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="ap_cb" class="pr-2">AP:</label>
    <p-checkbox name="ap_cb" id="ap_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="ap"
      id="ap"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="pda_cb" class="pr-2">POS:</label>
    <p-checkbox name="pda_cb" id="pda_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="pda"
      id="pda"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="printer_cb" class="pr-2">Printer:</label>
    <p-checkbox name="printer_cb" id="printer_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="printer"
      id="printer"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="cctv_cb" class="pr-2">CCTV:</label>
    <p-checkbox name="cctv_cb" id="cctv_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="cctv"
      id="cctv"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="ups_cb" class="pr-2">UPS:</label>
    <p-checkbox name="ups_cb" id="ups_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="ups"
      id="ups"
    />
  </div>
</div>
<div class="col-12 grid align-items-center">
  <div class="col-2">
    <label for="edc_cb" class="pr-2">EDC:</label>
    <p-checkbox name="edc_cb" id="pos_cb" [binary]="true"></p-checkbox>
  </div>
  <div class="col-2">
    <input
      type="text"
      [style]="{ width: '100%' }"
      pInputText
      name="edc"
      id="edc"
    />
  </div>
</div>
<div class="grid justify-content-between">
  <button
    pButton
    type="button"
    label="Cancel"
    class="p-button-secondary mr-2"
  ></button>
  <button pButton type="button" label="Save"></button>
</div> -->
